CSS Rest*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
}


/*end Ids*/
.showcase video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity:.8;
  z-index: 1;
}

.showcase {
  position: inherit;
  right: 0;
  width: 100%;
  min-height: 100vh;
  padding: 50px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #111;
  color: #fff;
  z-index: 2;
}

.showcase header {
  position: absolute;
  padding: 0;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 50px;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  position: absolute;
  top: 0;
  padding-top: 30px;
  font-size: 2rem;
  z-index: 10;
}

.showcase .logo i {
  color: #ee7830;
}

.showcase .logo i:hover {
  color: #2b2e3b;
}

.showcase .btn {
  background-color: #ee7830;
  border: none;
}

.showcase .btn:hover {
  background-color: #fff;
  color: #ee7830;
}

.showcase ul li {
  z-index: 2;
}

/*.showcase .navbar {
  position: absolute;
  padding-right: 50px;
  top: 0;
  right: 0;
  padding-top: 30px;
  font-size: 1.2rem;
  z-index: 10;
}*/

/*.toggle {
  position: relative;
  width: 60px;
  height: 60px;
  background: url(./images/JLogo.svg);
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}*/

.overlay {
  position: absolute;
  padding: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #323332;
}

.text1 {
  position: relative;
  z-index: 10;
}


/* NavBar */
.dark-theme .navbar li {
  font-size: 1rem;
}

.dark-theme .navbar i:hover {
  color:#2b2e3b;
}

.homefloat{
  position:fixed;
  width:36px;
  height:36px;
  bottom:40px;
  right:40px;
  background-color:#ee7830;
  color:#FFF;
  border-radius:50px;
  text-align:center;
  box-shadow: 2px 2px 3px #ffff;
}

.my-float{
  margin-top:9px;
  font-size: 1.25rem;
}

#myVideo {
  padding: 0;
  margin-top: 0;
  position: center;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}
/* End NavBar */

/* main */
.content {
  padding: 50px 0;
  background-color: #f0f2f6;
}

.content div a {
  font-size: 3rem;
}

.content img {
  width:100px;
  height:100px;
}

.content.projects a {
  font-size:  1rem;
}

.dark-theme.about {
  background-color: #be6026;
}

.dark-theme.about img {
 max-height: 180px;
 padding-bottom: 1rem;
}

.dark-theme.about .border {
  text-align: justify;
  text-indent: 2em; 
  padding: 1rem;
  border-radius:1%;
  box-shadow:0 0 0 1px rgba(255,255,255,0.4);
  color:inherit;
}


.card-body .btn {
  padding:16px 32px;
  border:none;
  background:none;
  box-shadow:none;
  text-shadow:none;
  opacity:0.9;
  text-transform:uppercase;
  font-weight:bold;
  font-size:10px;
  letter-spacing:0.4px;
  line-height:1;
}

.card-body .btn:hover {
  opacity:1;
}

.card-body .btn:active {
  transform:translateY(1px);
}

.card-body .btn-primary {
  background-color:#ee7830 !important;
  color:#fff;
  outline:none !important;
}
/*footer codes*/
.dark-theme {
  padding:50px 0;
  color:#fffeff;
  background-color:#be6026;
}

.dark-theme h3 {
  margin-top:0;
  margin-bottom:12px;
  font-weight:bold;
  font-size:16px;
}

.dark-theme ul {
  padding:0;
  list-style:none;
  line-height:1.6;
  font-size:14px;
  margin-bottom:0;
}

.dark-theme ul a {
  color:inherit;
  text-decoration:none;
  opacity:1;
}

.dark-theme ul a:hover {
  color: #2b2e3b;
}

.dark-theme hr {
  background-color: #FFD700;
  width: 90%;
}


@media (max-width:767px) {
  .dark-theme .item:not(.social) {
    text-align:center;
    padding-bottom:20px;
  }
}

.dark-theme .item.text {
  margin-bottom:36px;
}

@media (max-width:767px) {
  .dark-theme .item.text {
    margin-bottom:0;
  }
}

.dark-theme .item.text p {
  opacity:1;
  margin-bottom:0;
}

.dark-theme .item.social {
  text-align:center;
}

.dark-theme .item.social > a {
  font-size:20px;
  width:36px;
  height:36px;
  line-height:36px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  box-shadow:0 0 0 1px rgba(255,255,255,0.4);
  margin:0 8px;
  color:#fff;
}

.dark-theme .item.social > a:hover {
  color: #2b2e3b;
}

.dark-theme .copyright {
  text-align:center;
  padding-top:24px;
  font-size:13px;
  margin-bottom:0;
}

/*end footer codes */

.pre-footer {
  color:#313437;
  background-color:#fff;
  padding:50px 0;
}

.pre-footer p {
  color:#7d8285;
  line-height:1.5;
}

.pre-footer h2 {
  font-size:24px;
  font-weight:bold;
  margin-bottom:25px;
  line-height:1.5;
  padding-top:0;
  margin-top:0;
  color:inherit;
}

.pre-footer .intro {
  display: ;
  font-size:16px;
  max-width:500px;
  margin:0 auto 25px;
}

.pre-footer .intro p {
  margin-bottom:35px;
}

.pre-footer form {
  justify-content:center;
}

.pre-footer form .form-control {
  background:#eff1f4;
  border:none;
  border-radius:3px;
  box-shadow:none;
  outline:none;
  color:inherit;
  text-indent:9px;
  height:45px;
  margin-right:10px;
  min-width:250px;
}

.pre-footer form .btn {
  padding:16px 32px;
  border:none;
  background:none;
  box-shadow:none;
  text-shadow:none;
  opacity:0.9;
  text-transform:uppercase;
  font-weight:bold;
  font-size:13px;
  letter-spacing:0.4px;
  line-height:1;
}

.pre-footer form .btn:hover {
  opacity:1;
}

.pre-footer form .btn:active {
  transform:translateY(1px);
}

.pre-footer form .btn-primary {
  background-color:#ee7830 !important;
  color:#fff;
  outline:none !important;
}


/* Contact */

.contact-clean {
  background:#f1f7fc;
  padding:80px 0;
}

@media (max-width:767px) {
  .contact-clean {
    padding:20px 0;
  }
}

.contact-clean form {
  max-width:480px;
  width:90%;
  margin:0 auto;
  background-color:#ffffff;
  padding:40px;
  border-radius:4px;
  color:#505e6c;
  box-shadow:1px 1px 5px rgba(0,0,0,0.1);
}

@media (max-width:767px) {
  .contact-clean form {
    padding:30px;
  }
}

.contact-clean h2 {
  margin-top:5px;
  font-weight:bold;
  font-size:28px;
  margin-bottom:36px;
  color:inherit;
}

.contact-clean .form-group:last-child {
  margin-bottom:5px;
}

.contact-clean form .form-control {
  background:#fff;
  border-radius:2px;
  box-shadow:1px 1px 1px rgba(0,0,0,0.05);
  outline:none;
  color:inherit;
  padding-left:12px;
  height:42px;
}

.contact-clean form .form-control:focus {
  border:1px solid #b2b2b2;
}

.contact-clean form textarea.form-control {
  min-height:100px;
  max-height:260px;
  padding-top:10px;
  resize:vertical;
}

.contact-clean form .btn {
  padding:16px 32px;
  border:none;
  background:none;
  box-shadow:none;
  text-shadow:none;
  opacity:0.9;
  text-transform:uppercase;
  font-weight:bold;
  font-size:13px;
  letter-spacing:0.4px;
  line-height:1;
  outline:none !important;
}

.contact-clean form .btn:hover {
  opacity:1;
}

.contact-clean form .btn:active {
  transform:translateY(1px);
}

.contact-clean form .btn-primary {
  background-color:#055ada !important;
  margin-top:15px;
  color:#fff;
}

.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    padding-right: 50px;

}

.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}